.npmrc
dist/
public/
typings/
.vscode/
coverage/
index.js
index.d.ts
gulpfile.js
src/**/*.js
spec/**/*.js
!spec/en.js
!spec/de-DE.js
test-report/
node_modules/
src/**/*.d.ts
spec/**/*.d.ts
styles/**/*.css
styles/**/*.scss
!styles/**/_*.scss
!styles/resources/style.css

